.pic {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    /* Fully opaque at the top */
      /* rgba(0, 0, 0, 0.5), Semi-transparent in the middle */ rgba(0, 0, 0, 0)
      /* Fully transparent at the bottom */
  );
  -webkit-mask-size: 100% 80%; /* Adjust the mask to cover the entire element */
  -webkit-mask-repeat: no-repeat;
}
